/*Todos*/
body{
    width:1200px; 
    margin:-1px auto 10px;
    border:1px solid rgb(3, 3, 3); 
    background-color: lightgray; 
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 10px black;
}

div#interface {
    background-color: white;
}

/* cabeçalho */
header{
    width: 1200px;
    text-align: center;
    height: 210px;
    margin: 0;
    background-color: black;
}

/* navegação entre paginas do site */
nav#links{
    width: 1200px;
    background-color: black;
    border-top: 1px solid white;
}

nav#links ul{
    list-style: none;
    margin:0;
    padding: 12px;
    
}

nav#links li {
    display: inline-block;
    width: 300px;

}
nav#links li a{
    text-decoration: none;
    padding: 4px 20px;
    color: white;
}
nav#links li a:hover{
    background-color: rgba(128, 126, 126, 0.541);
}

/*Principal*/
article {
    text-indent: 30px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

#imagem img{
    float: top;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 280px;
    height: 180px;
}

/* table com os participantes */
table#participantes {
    float: center;
    margin: 50px 10px 10px 400px;
    border-spacing: 0px;
    border: 1px solid black;
}

table#participantes td {
    border: 1px solid black;
    padding: 10px;
}

/* rodape */
footer#rodape {
	margin-top: 10px; 
	padding-top: 10px;
    padding-bottom: 10px; 
	border-top: 1px solid black;
	text-align: center;
    list-style: none;
    clear: both;
}
footer#rodape li {
    display: inline;
    color: gray;
}

footer#rodape a {
    color: #606060;
    text-decoration: none;
}
footer#rodape a:hover {
    text-decoration: underline;
}

