body{
    width: 97%;
    margin: auto;
    background-color: rgb(235, 235, 235);
}
main{
    background-color: white;
}
nav{/*Parte de Navegação do Site*/
    margin: auto;
}
header ul li{
    width: 100%;
}
header li a{/*Links do header*/
    width: 240px;
    text-align: center;
    font-size: 20px;
}
header ul{/*Conjunto dos links do ul*/
    margin: auto;
    width: 95%;
    background-color:  rgba(248, 248, 248, 0);
    margin-left: 30px;
    margin-top: 20px;
    
}
div .collapse .navbar-collapse{
    border-top: 1px solid white;
}
#logo{/*Div ao redor do Logo do Projeto*/
    margin-left: -20px;
}
#pc{/*Imagem do pc*/
    width: 200px;
    height: 180px;
}
#imgp{/*Logo do projeto*/
    margin-top: 20px;
}

/*rodape*/
footer {
    border-top: 1px solid black ;
    text-align: center;
    padding: 10px;
}
footer li {/* forma da lista */
    list-style: none;
    display: inline;
}

footer a {/* decoração do texto */
    text-decoration: none;
    color: rgb(83, 83, 83);
}
footer a:hover {/* quando passar o muse em cima */
    color: green;
}

/* tabela */
table {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
table td{
    border: 1px solid black;
    padding: 0px;
}
table img{/*tamanho da imagem */
    width: 200px;
    height: 200px;
}
table h1 {/* formatação do nome(h1) */
    margin: 10px;
    font-size: 25px;
}
table p {/*explicação breve sobre a pessoas */
    text-align: center;
}
table li {/* forma da lista */
    list-style: none;
    display: inline;
}
table a {/* decoração do texto */
    text-decoration: none;
    color: rgb(83, 83, 83);
}
table a:hover {/* quando passar o muse em cima */
    color: green;
}
article{
    margin-top: 30px;
}
article p{/* organização do texto */
    text-align: justify;
    text-indent: 25px;
}
article #aborda{
    margin: 30px 0 30px 0;
    background-color: rgba(145, 145, 145, 0.226);
    padding: 0;
}
article #aborda header{
    text-align: center;
    background-color: rgba(5, 116, 5, 0.863);
    padding: 5px;
    color: white;
}
article #txt_aborda{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
    padding: 10px;
}
